.drop-down {
  &__container {
    background: $color-white;
    box-shadow: 0 0 6px rgb(0 0 0 / 14%);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    padding: 7.5px;
    z-index: 1000;
    position: absolute;
  }

  &_top {
    bottom: calc(100% + 20px);
  }

  &_right {
    left: 0;
  }

  &_left {
    right: 0;
  }

  &_bottom {
    top: calc(100% + 20px);
  }
}
