.nav {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  background: $color-white;
  border-radius: 20px;
  padding: 26px 29px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  width: 300px;

  &_opened {
    visibility: visible;
    opacity: 1;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
  }

  &__link {
    color: black;
    transition: 0.3s;

    &:hover {
      color: $color-main;
      transition: 0.3s;
    }
  }

  &__button {
    width: 100%;
    padding: 10px;
    background: $color-main;
    border-radius: 10px;
    border: none;
    color: $color-white;
  }
}
