<label>{{ label }}</label>
<input
  type="{{ type }}"
  value="{{ value }}"
  class="js-field second-input__input"
  name="{{ name }}"
  {% disabled && disabled %}
/>
{% errorMessage && <p class="second-input__error text-xs second-input__error_active">{{ errorMessage }}</p> %}
