.chat {
  width: 75vw;
  height: 100vh;
  padding: 0 20px;

  @media (max-width: var(--media-tablet)) {
    display: none;
  }

  &__empty-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  &__empty-container {
    display: flex;
    gap: 20px;
    flex-direction: column;
  }

  &__header {
    height: 54px;
    background: var(--color-white);
    border-bottom: 1px solid var(--color-grey);
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  &__moreButton {
    margin-left: auto;
  }

  &__content {
    height: calc(100% - 108px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
}

.footer {
  background: var(--color-white);
  border-top: 1px solid var(--color-grey);
  height: 54px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
