<div class="chat__header">
  {{ avatar }}
  <p class="text-m">Maxim</p>
  <div class="chat__moreButton">{{ moreButton }}</div>
</div>
<div class="chat__content">
  {{ image }} {{ text }} {{ file }} {{ image1 }} {{ image2 }}
</div>
<form class="chat__footer footer">
  {{ attachmentButton }}
  {{ messageInput }}
  {{ arrowButton }}
</form>
