@import url("../../assets/style/uikit.css");

.chat {
  width: 75vw;
  height: 100vh;
  padding: 0 20px;

  @media (max-width: $mediaTablet) {
    display: none;
  }

  &__header {
    height: 54px;
    background: $color-white;
    border-bottom: 1px solid $color-grey;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
  }

  &__moreButton {
    margin-left: auto;
  }

  &__content {
    height: calc(100% - 108px);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
  }
}

.footer {
  background: $color-white;
  border-top: 1px solid $color-grey;
  height: 54px;
  width: 100%;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}
