@import url("../../assets/style/uikit");

.chats {
  width: 25vw;
  height: 100vh;
  background: $color-bg;
  border-right: 2px solid $color-grey;

  @media (max-width: $mediaTablet) {
    width: 100vw;
  }

  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0;
  }

  &__userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__search {
    position: relative;
    margin-bottom: 15px;

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      left: -10px;
      height: 1px;
      background: $color-grey-2;
      bottom: -15px;
    }
  }

  &__list {
    overflow-y: scroll;
    height: calc(100% - 96px);
  }
}
