<input
  type="{{ type }}"
  required
  name="{{ name }}"
  required="{{ required }}"
  value="{{ value }}"
/>
<label>{{ label }}</label>
{% errorMessage && <p class="input-base__error text-xs">{{ errorMessage }}</p> %}
