.authLayout {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 10 0;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: min(100%, 340px);
    text-align: center;
    min-height: 450px;
    padding: 50px 30px 30px;
    background: $color-white;
    box-shadow: $shadow;
    border-radius: 12px;
    @media (max-width: $mediaMobile) {
      padding: 50px 20px 30px;
    }
  }
  &__link {
    font-size: 11px;
    color: $color-main;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__footer {
    margin-top: auto
  }
  &__button {
    &_primary {
    margin-bottom: 14px;

    }
  }
}
