@import url("../../assets/style/uikit");

.attachment-button {
  &__icon {
    width: 32px;
    cursor: pointer;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
