<div>
  {{ inputEmail }} {{ inputLogin }} {{ inputFirstName }} {{ inputSecondName }}
  {{ inputDisplayName }} {{ inputPhone }}
  <div class="setting-main__buttons">
    {{ buttonChangeInfo }}
    {{ buttonChangePassword }}
    {{ buttonLogOut }}
  </div>
  <div class="setting-main__buttons">
    {{ buttonSaveInfo }}
  </div>
</div>
