<input
  type="text"
  class="search__field"
  name="search"
  placeholder="Search"
  required
/>
<div class="search__button">
  {{ button }}
</div>
<button class="search__clean" data-value="cleanButton">
  <img src="../../assets/icons/delete.svg"/>
</button>



