@import url("../../assets/style/uikit");

.arrow-button {
  &_right {
    transform: rotate(180deg);
  }

  &__icon {
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 50%;
    background-color: $color-main;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
