.messenger {
  &__container {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    display: flex;
  }

  &__left {
    width: 25vw;
    height: 100vh;
    background: $color-bg;
    border-right: 2px solid $color-grey;

    @media (max-width: $mediaTablet) {
      width: 100vw;
    }
  }

  &__right {
    width: 75vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: $mediaTablet) {
      display: none;
    }
  }
}

.chats {
  &__header {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px 0;
  }

  &__userInfo {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  &__search {
    background: $color-grey-2;
    border-radius: 5px;
    height: 32px;
    margin: 0 10px 14px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: calc(100% + 20px);
      left: -10px;
      height: 1px;
      background: $color-grey-2;
      bottom: -15px;
    }
  }
}

.chat {
  &__placeholder {
    color: $color-text-secondary;
  }
}
