.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    display: none;
    background: rgba(0,0,0,0.5);
    &_active {
        display: flex;
    }

    &__container {
        padding: 40px 30px 30px;
        background: $color-white;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.14);
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 45px;
        align-items: center;
        min-width: 340px;
    }
}
