.drop-down-item {
  display: flex;
  align-items: center;
  padding: 7.5px;
  gap: 10px;
  border-radius: 10px;
  cursor: pointer;

  &:hover {
    background: var(--color-light-blue);
    border-radius: 10px;
  }

  & > p {
    color: var(--color-text-primary);
    white-space: nowrap;
  }
}
