.input-container {
  position: relative;
  flex: 1 1 auto;

  & input {
    border: 0; 
    border-bottom: 1.5px solid $color-main;
    padding: 11px 0;
    width: 100%;
    transition: 0.1s ease-in;
    font-family: $font-base;
    font-size: 13px;

    &:focus,
    &:valid {
      outline: none;
      & + label {
        transform: translateY(-20px);
        transition: 0.1s ease-in;
        font-size: 9px;
      }
    }
  }

  & label {
    position: absolute;
    font-size: 13px;
    top: 15px;
    left: 0;
    transition: 0.1s ease-in;
    color: $color-text-secondary;
    pointer-events: none;
  }
}
