
.arrow-button {
  &_right {
    transform: rotate(180deg)
  }
  &__icon {
    width: 28px;
    height: 28px;
    display: flex;
    border-radius: 50%;
    background: url("../../assets/icons/arrowRight.svg") 50% 50% no-repeat;
    background-color: $color-main;
  }
}
