.avatar {
  &_editable {
    width: 100%;
    height: 100%;

    &:hover > label {
      opacity: 1;
      transition: all 0.3s ease;
      pointer-events: all;
    }
  }

  &__container {
    border-radius: 50%;
    background: $color-grey-2 no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;

    &_tiny {
      width: 20px;
      height: 20px;
    }

    &_small {
      width: 34px;
      height: 34px;
    }

    &_middle {
      width: 47px;
      height: 47px;
    }

    &_large {
      width: 130px;
      height: 130px;
    }
  }

  &__name {
    &_tiny {
      font-size: 7px;
    }

    &_small {
      font-size: 15px;
    }

    &_middle {
      font-size: 20px;
    }

    &_large {
      font-size: 40px;
    }
  }

  &__hover-block {
    pointer-events: none;
    transition: all 0.3s ease;
    display: flex;
    opacity: 0;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 50%);
    border-radius: 50%;
    width: 100%;
    height: 100%;
  }
}

.hover-block {
  cursor: pointer;

  &__text {
    pointer-events: none;
  }

  &__input {
    display: none;
  }
}
