.back-button-layout {
  &__container {
    height: 100vh;
    display: flex;
  }

  &__comeback {
    width: 64px;
    background: var(--color-bg);
    border-right: 2px solid var(--color-grey);
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: var(--color-bg);
    }

    @media (max-width: var(--media-tablet)) {
      background: none;
      border: none;
      position: absolute;
      top: 20px;
      left: 0;
    }
  }

  &__main {
    margin-top: 60px;
    width: calc(100% - 64px);
    padding: 10px;

    @media (max-width: var(--media-tablet)) {
      width: 100%;
    }
  }
}
