.error-layout {
  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    height: 160px;
  }

  &__button {
    margin-top: auto;
  }
}
