/* Config */
@import url("assets/style/common.scss");
@import url("assets/style/fonts.scss");
@import url("./assets/style/navBar.scss");

:root {
  --color-main: #3369f3;
  --color-text-primary: #1e1e1e;
  --color-text-secondary: #999;
  --color-error: #ff2f2f;
  --color-white: #fff;
  --color-bg: #fbfbfb;
  --color-grey: #eaeaea;
  --color-grey-2: #efefef;
  --color-grey-3: #f5f5f5;
  --color-grey-4: #f8f8f8;
  --color-red: #f00;
  --color-main-hover: #e4edfd;
  --color-light-blue: #e4edfd;
  --shadow: 0 0 6px rgb(0 0 0 / 14%);
  --font-base: "Inter", sans-serif;
  --font-size-xxxs: 8px;
  --font-size-xxs: 9px;
  --font-size-xs: 11px;
  --font-size-s: 12px;
  --font-size-m: 13px;
  --font-size-l: 15px;
  --font-size-xl: 16px;
  --font-size-xxl: 20px;
  --font-size-xxxl: 40px;
  --transition-base: all 0.3s ease;
  --media-desktop: 1050px;
  --media-tablet: 768px;
  --media-mobile: 480px;
}
