.secondInput-container {
  position: relative;
  flex: 1 1 auto;
  padding: 10px 0;
  border-bottom: 1px solid $color-grey;
  display: grid;
  grid-template-columns: 100px 1fr;


  &__input {
    border: 0; 
    width: 100%;
    font-family: $font-base;
    font-size: 13px;
    color: $color-text-secondary;
    justify-self: end;
    text-align-last: end;
    &:focus {
      outline: none;
    }
    &:hover {
      
    }
    &:disabled {
      background: none;
    }
    &_active {
      color: $color-text-primary;
    }
  }


  & label {

    flex: 1 1 auto;
    font-size: 13px;
    color: $color-text-primary;
  }
}
